h5py==3.14.0
matplotlib
numpy==1.26.4
opencv-python==4.6.0.66
robosuite==1.4.0
scikit-learn==1.7.2
seaborn==0.13.2
timm==1.0.25
torch==2.10.0
torchvision==0.25.0
tqdm==4.67.3
bddl
numpy==1.26.4
pandas==2.3.3
scipy==1.13.1

